<header>
    <!-- Imagem de fundo do Header -->
    <div id="background"></div>

    <!-- Logo Gamemania com o texto -->
    <div id="background2">

        <div id="login">
            <a routerLink="/login">
                <img src="assets/imagens/icones/user.png" width="30" height="30"> Login
            </a>
        </div>

        <img id="logo" src="../assets/imagens/logo.png" alt="Logo" width="160" height="150">
        <div class="descricao">
            <h1>De gamer para gamer</h1>
            <p>Levando entretenimento, diversão e confraternização para os diversos tipos de públicos e para toda a família. A “Game mania” é uma empresa que desde o ano de 2003 fornece equipamentos, suprimentos e acessórios para a área de Vídeo Games e
                Informática.
            </p>
        </div>
        <!-- Ícones Playstation e etc -->
        <div class="icones-gamer">
            <div class="ico">
                <img src="../assets/imagens/icones/playstation.png" alt="playstation logo" width="40" height="40">
                <p>Playstation</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/xbox.png" alt="Xbox logo" width="40" height="40">
                <p>Xbox</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/steam.png" alt="Steam logo" width="40" height="40">
                <p>Steam</p>
            </div>
        </div>
        <!-- Fim dos ícones -->
    </div>
    <!-- Fim do Logo Gamemania com o texto -->
</header>

<section id="destaques">
    <!-- Título -->
    <div class="titulo" style="background-color: #252525;">
        <img src="/assets/imagens/icones/prize.png" width="40" height="40">
        <span></span>
        <h2>Destaques</h2>
    </div>
    <!-- Componente Item-destaque -->
    <app-item-destaque></app-item-destaque>

</section>

<section id="galeria">
    <!-- Título -->
    <div class="titulo" style="background: linear-gradient(to bottom, #252525); margin-top: none !important;">
        <img src="/assets/imagens/icones/photo.png" width="40" height="40">
        <span></span>
        <h2>Galeria</h2>

    </div>
    <!-- Componente Itens da Galeria -->
    <app-itens-galeria></app-itens-galeria>
</section>

<section id="contato">
    <app-contato></app-contato>
</section>
<app-footer></app-footer>