<header>
    <!-- Imagem de fundo do Header -->
    <div id="background"></div>

    <!-- Logo Gamemania com o texto -->
    <div id="background2">
        <img id="logo" src="../assets/imagens/logo.png" alt="Logo" width="160" height="150">
        <div class="descricao">
            <h1>De gamer para gamer</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit suscipit molestiae libero cupiditate dolore. Quasi, voluptatem reprehenderit illo nostrum quod repellat, tenetur, quaerat aliquam cumque voluptates animi.</p>
        </div>
        <!-- Ícones Playstation e etc -->
        <div class="icones-gamer">
            <div class="ico">
                <img src="../assets/imagens/icones/playstation.png" alt="playstation logo" width="40" height="40">
                <p>Playstation</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/xbox.png" alt="Xbox logo" width="40" height="40">
                <p>Xbox</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/steam.png" alt="Steam logo" width="40" height="40">
                <p>Steam</p>
            </div>
        </div>
        <!-- Fim dos ícones -->
    </div>
    <!-- Fim do Logo Gamemania com o texto -->
</header>

<section id="destaques">
    <!-- Título -->
    <div class="titulo" style="background-color: #252525;">
        <img src="../assets/imagens/prize.png" width="40" height="40">
        <span></span>
        <h2>Destaques</h2>
    </div>
    <!-- Componente Item-destaque -->
    <app-item-destaque></app-item-destaque>

    <!-- Item com o lado invertido -->
    <article id="item01" class="container-fluid">

        <div class="row">

            <div class="item-img col-md-6">
                <img src="../assets/imagens/horizon2.jpg" width="80%" height="100%">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de ação e aventura"</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>

            <div class="descricao-item col-md-6">
                <div class="item">
                    <h2>Horizon Forbidden West</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam voluptas voluptatibus rerum animi quae delectus optio laborum quidem voluptates libero, dolores veritatis debitis tempora explicabo totam ipsam dolor quisquam magni.</p>
                    <button class="btn btn-primary">Saiba mais... <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
                <div class="barra"></div>
            </div>

        </div>
    </article>

    <app-item-destaque></app-item-destaque>

</section>


<router-outlet></router-outlet>