<article id="contact" class="container-fluid">

    <div class="row">
        <div id="imgCont" class="col-md-6">
            <img src="/assets/imagens/contact.jpg" width="95%" height="400">
            <div class="filiais">
                <div class="local col-md-4">
                    <h3>Centro - SP</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
                <div class="local col-md-4">
                    <h3>Lapa - SP</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
                <div class="local col-md-4">
                    <h3>BH - SP</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="titulo">
                <div>
                    <img src="/assets/imagens/icones/contacts.png" width="40" height="40">
                    <span></span>
                    <h2>Entre em contato</h2>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, quae.</p>
            </div>

            <!-- Início do formulário -->
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Primeiro nome">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                        <label for="msg">Mensagem</label>
                        <textarea class="form-control" id="msg" rows="2"></textarea>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </form>

            <!-- Fim do formulário -->
        </div>
    </div>

</article>