<article id="item01" class="container-fluid">

    <div class="row">
        <!-- Item 01 -->
        <div class="descricao-item col-md-6">
            <div class="barra"></div>
            <div class="item">
                <h2>Horizon Forbidden West</h2>
                <p>Horizon Forbidden West, uma sequência que se passa seis meses após os eventos de Horizon Zero Dawn. Aloy viaja ao oeste para investigar uma peste letal e misteriosa. Nessas terras inexploradas, ela encontrará novas tribos e enfrentará
                    máquinas ainda mais perigosas.</p>
                <div class="comprar">
                    <h4>R$ 249.90</h4>
                    <button class="btn btn-primary">Adicionar <img src="../assets/imagens/icones/cart.png" width="24" height="24"></button>
                </div>
            </div>
        </div>

        <div class="item-img col-md-6">
            <img src="/assets/imagens/horizon2.jpg" width="80%" height="100%">
            <!-- Comentário da foto -->
            <blockquote class="blockquote text-center">
                <p>"Melhor jogo de ação e aventura"</p>
                <footer class="blockquote-footer">IGN Brasil</footer>
            </blockquote>
        </div>
        <!-- Fim do item 01 -->

        <!-- Item 02 (Invertido) -->
        <div class="item-img col-md-6">
            <img src="/assets/imagens/god.jpg" width="80%" height="100%">
            <!-- Comentário da foto -->
            <blockquote class="blockquote text-center">
                <p>"Melhor jogo do ano disparado"</p>
                <footer class="blockquote-footer">IGN Brasil</footer>
            </blockquote>
        </div>

        <div class="descricao-item col-md-6">
            <div class="item">
                <h2>God of war</h2>
                <p>As aventuras de Kratos e seu filho Atreus na jornada mais emocionante e instigante de God Of War Kratos, o Deus da Guerra, deixou para trás sua vingança contra os deuses do Olimpo. Mais do que lutar pela sua própria sobrevivência, deve
                    ensinar seu filho Atreus a conviver em um mundo hostil e cheio de desafios.
                </p>
                <div class="comprar">
                    <h4>R$ 249.90</h4>
                    <button class="btn btn-primary">Adicionar <img src="../assets/imagens/icones/cart.png" width="24" height="24"></button>
                </div>
            </div>
            <div class="barra"></div>
        </div>
        <!-- Fim do item 02 -->

        <!-- Item 03 -->
        <div class="descricao-item col-md-6">
            <div class="barra"></div>
            <div class="item">
                <h2>The last of us II</h2>
                <p>Ambientado cinco anos após os eventos de The Last of Us (2013), o jogador assume o papel de duas protagonistas em um Estados Unidos pós-apocalíptico: Ellie, que busca por vingança após um evento traumático, e Abby, uma soldada que se envolve
                    em um conflito entre uma milícia e um culto. </p>
                <div class="comprar">
                    <h4>R$ 249.90</h4>
                    <button class="btn btn-primary">Adicionar <img src="../assets/imagens/icones/cart.png" width="24" height="24"></button>
                </div>
            </div>
        </div>

        <div class="item-img col-md-6">
            <img src="/assets/imagens/tlou2.jpg" width="80%" height="100%">
            <!-- Comentário da foto -->
            <blockquote class="blockquote text-center">
                <p>"Realismo fora do normal"</p>
                <footer class="blockquote-footer">IGN Brasil</footer>
            </blockquote>
        </div>
        <!-- Fim do item 03 -->

    </div>
</article>