/* ----------- Destaques -----------*/

#item01 {
    height: 80vh;
    display: flex;
    align-items: center;
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #252525, #255C53);
    background: linear-gradient(to bottom, #252525, #255C53);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

h2 {
    color: #ffffff;
    font-weight: 600;
}

.titulo span {
    width: 5px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5);
    margin: 0 15px 0 15px;
}

.descricao-item {
    width: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.descricao-item .barra {
    background: #159957 !important;
    background: -webkit-linear-gradient(to bottom, #155799, #159957) !important;
    background: linear-gradient(to bottom, #155799, #159957) !important;
    opacity: .5;
    width: 20px;
    height: 300px;
    margin: 0 5% 0 5%;
}

.descricao-item button {
    background: #159957 !important;
    background: -webkit-linear-gradient(to right, #155799, #159957) !important;
    background: linear-gradient(to right, #155799, #159957) !important;
    width: 200px;
    height: 40px;
    border: none;
}

.descricao-item button img {
    margin-left: 20px;
    filter: invert(100%);
    font-size: 22px;
}

.item-img {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    color: #ffffff;
}

.item p {
    font-size: 20px;
}

.item-img img {
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

.blockquote {
    margin: 5px;
}

.blockquote footer {
    color: rgba(255, 255, 255, .8) !important;
}