<article id="fotos" class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <img src="/assets/imagens/fifa22.jpg" width="95%" height="250">
            <img src="/assets/imagens/halo.jpg" width="95%" height="400">
        </div>
        <div class="col-md-4">
            <img src="/assets/imagens/rdr2.png" width="95%" height="400">
            <img src="/assets/imagens/zelda.jpg" width="95%" height="250">
        </div>
        <div class="col-md-4">
            <img src="/assets/imagens/village.jpg" width="95%" height="250">
            <img src="/assets/imagens/horizont.jpg" width="95%" height="400">
        </div>
    </div>
</article>