<article id="footer">
    <div id="rodape"></div>

    <div class="info">
        <h5>Nós gostariamos de manter contatato com você! Nos siga nas redes sociais para mais novidades</h5>

        <div class="social">
            <img src="/assets/imagens/icones/social/face.png">
            <img src="/assets/imagens/icones/social/twiter.png">
            <img src="/assets/imagens/icones/social/insta.png">
            <img src="/assets/imagens/icones/social/gmail.png">
            <img src="/assets/imagens/icones/social/youtube.png">
        </div>

        <p>&copy; Melqui Santos - 2021</p>
    </div>

</article>